<div *ngIf="product" class="detail-container">
<img src="{{ product.url }}">
<div class="detail-item">
<h3>{{ product.name }}</h3>
<h3>{{ product.price }}</h3>
<h4> {{ product.description }}</h4>
<select class="select-input"> [(ngModel)]="selectedquantity">
    <option *ngFor="let quantity of quantities">{{quantity}}</option>
</select>
<br>
<button (click)="addToCart(product)">Add to Cart</button>
<br>
<br>
<h5>Click Below To Reach Product Page</h5>
<a class="back-link" routerLink="/">Product Page</a>
</div>
</div>


